body {
    background: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.teste {
    text-align: right;
}

h1 {
    margin: 1px;
}

p {
    font-size: 20px;
}

hr {
    width: 1000px;
}

div img {
    width: 150px;
    margin: 10px;
}

.nav-bar {
    text-align: center;
    background: black;
    color: white;
    line-height: 30px;
    border: none;
    border-radius: 15px 15px 0px 0px;
    width: 1000px;
    margin: 2px;
}

.foto-perfil {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}


/* https://www.w3.org/Style/Examples/007/center.pt_BR.html */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.versao {
    background: white;
    margin: 0px;
    color: black;
}

.text-center {
    text-align: center
}